/* Fonts start */
@font-face {
    font-family: 'Sacramento';
    src: url('./fonts/Sacramento-Regular.ttf');


}
@font-face {
    font-family: 'Silkscreen-Regular';
    src: url('./fonts/Silkscreen-Regular.ttf');
}
@font-face {
    font-family: 'Silkscreen-Bold';
    src: url('./fonts/Silkscreen-Bold.ttf');
}
@font-face {
    font-family: LobsterTwo ;
    src: url(./fonts/LobsterTwo-Italic.ttf);
}
@font-face {
    font-family: PoiretOne ;
    src: url(./fonts/PoiretOne-Regular.ttf);
}
/* Fonts Ends */


body{
    margin: 0;
    text-align: center;
}


/* Top Container Start */
.topContainer{
    background-color:#d1ebeb;
    position: relative;
    padding-top:150px;
    margin-bottom:0;
    height: 833.5px;

}
.topContainer h1{
    margin: 0 auto;
    font-size:100px;
    padding-top: 50px;
    font-family: Sacramento;
    color: #66BFBF;
}
.topContainer h2{
    font-size: 40px;
    font-family: Silkscreen-Regular;
    color: #66BFBF;
}
.bold{
    font-size: 60px;
}
.topContainer h3{
    font-size: 20px;
    font-family: Silkscreen-Regular;
    color: #66BFBF;
}
.topCloud {
    position:absolute;
    top: 30px;
    right:250px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(255,255,255,0.3)) ;
    
}
.buttonCloud{
    position:absolute;
    left:400px;
    margin: 0 auto;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(255,255,255,0.3)) ;
}
.mountain{
    padding-top:12px;
}
/* Top Container End */

/* Start Introduction Part */
.proPic{
    border-radius:50%;
    width: 300px;
    height: 300px;
}
.introductionPart{ 
    padding-top: 50px;
}
.introductionPart h1{
    font-family:LobsterTwo;
    font-size:60px;
    -webkit-box-reflect: below -130px linear-gradient(transparent, rgba(255,255,255,0.7)) ;
    padding-bottom: 50px;
    color: #66BFBF
}

.introductionPart p{
    width: 40%;
    margin: 0 auto;
    font-family: PoiretOne;
    font-weight: 700;
    font-size:30px;
    text-align: justify;
}
/* End of introductionPart */
.dots{
    color:#bebebe;
    letter-spacing: 10px;
    padding: 10px 0;

}
/* Start of Education Part */

.timeline-section{
	background-color: #ffffff;
	min-height: 100vh;
	padding: 100px 15px;
    
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #66BFBF;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #000000;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #000000;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #66BFBF;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h2{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
    font-family: PoiretOne;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
    font-family: PoiretOne;
}
.timeline-content p{
    color: #000000;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
    font-family: PoiretOne;
}
.Certificate{
    text-decoration: none;
    color: white;
    font-family: PoiretOne;
}

/*  */
.wrapper{
    width: 400px;
    margin:0 auto;
}
.skill {
    margin-bottom: 35px;
    position: relative;
        overflow-x:hidden;
        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
    text-align: left;
    font-family: PoiretOne;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
    font-weight: 700;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#66BFBF;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    width: 90%;
        
}
.skill-bar span{
    position: absolute;
    border-top: 5px solid #66BFBF;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 700;
    font-family: PoiretOne;
}
.skill-bar {
    position: relative;
        
}

.skill1 .skill-count1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    width: 80%;
}

.skill2 .skill-count2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    width: 70%;
}
.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    width: 75%
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    width: 60%;
}

.skill5 .skill-count5 {
    right: 0;
}

/* SKILL 6 */
.skill6{
    width: 70%
}

.skill6 .skill-count6 {
    right: 0;
}

/* SKILL 7 */
.skill7{
    width: 70%
}

.skill7 .skill-count7 {
    right: 0;
}
/* SKILL 8 */
.skill8{
    width: 85%
}

.skill8 .skill-count8 {
    right: 0;
}

/* SKILL 9 */
.skill9{
    width: 90%
}

.skill9 .skill-count9 {
    right: 0;
}
/* SKILL 10 */
.skill10{
    width: 80%
}

.skill10 .skill-count10 {
    right: 0;
}
/* SKILL 11 */
.skill11{
    width: 85%
}

.skill11 .skill-count11 {
    right: 0;
}
.title{
    font-family: Silkscreen-Regular;
    color: #66BFBF;
    font-size:40px;
}

/* Languages */

/* SKILL 12 */
.skill12{
    width: 90%
}

.skill12 .skill-count12 {
    right: 0;
}

/* SKILL 13 */
.skill13{
    width: 80%
}

.skill13 .skill-count13 {
    right: 0;
}
/* SKILL 14 */
.skill14{
    width: 70%
}

.skill14 .skill-count14 {
    right: 0;
}

/* contacts */
.contacts{
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 35%;
    width: 600px;
    padding-bottom: 20px;
}
.rounded-button{
    width:60px;
    height:60px;
    background: #66BFBF;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    float: left;
    
}
.rounded-button:hover{
    background:#509696;
}

.contactPart{
    display: inline-flex;
    font-family: PoiretOne;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 0 0 10px;

}
.one{
    display: block;
}